<!-- <%= form_for @user, controller: "users", action: "create" do |f| %>

  <div class="form-group">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username %>

  </div> -->


<% end  %>
