<h1>Projects</h1>
<a href="/users/most_projects"> Click here to see who has the most projects!</a>

<div class="container-fluid">
  <div class="row">


  <% @projects.all.each do |project| %>
        <div class="col-sm-4">


        <% tasks = project.tasks %>

        <%= render partial: 'tasks/tasklist', :locals => {:@tasks => tasks, :project => project}%>
        </div>
  <% end  %>

  </div>
</div>
